<style>
    #hide {
        display: none;
    }
</style>

<nav class="navbar fixed-top see-through">
        <a class="ml-auto mr-2 salad" href="/index"> <button class="btn btn-info"> Home </button> </a>
        <a class="mx-2 salad" href="/index"> <button class="btn btn-info"> About Me </button> </a>
        <a class="mx-2 salad" href="/index"> <button class="btn btn-info"> Projects </button> </a>
        <a class="ml-2 mr-auto salad" href="/index"> <button class="btn btn-info"> Contact Me </button> </a>
</nav>