<!doctype html>
<html class="h-100" lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta name="author" content="Sarah Hanson">
	<% include ./partials/bootStrapScripts.ejs %> 
    <% include ./partials/commonHeaderContent.ejs %> 
</head>
<body>
	<% include ./partials/navBar.ejs %>
	<div class="jumbotron sticky-top jumbo-bg fill pt-50"> <!-- small change by sarah -->
		<div class="jumbotron col-lg-8 col-sm-12 mx-auto see-through h-50">
			<p1>Hello World</p1>
		</div>
	</div>
</body>
</html>