<!DOCTYPE html>
<html>
  <head>
	<meta name="author" content="Sarah Hanson">
	<% include ./partials/bootStrapScripts.ejs %> 
	<% include ./partials/commonHeaderContent.ejs %> 
  </head>
  <body>
  	<% include ./partials/navBar.ejs %> 
	
	<div class="jumbotron jumbo-bg fill pt-50">
	<!-- 4 panel feature packages -->
	<div class="jumbotron text-center md-10 light see-through">
		<p1>Another Page</p1>
	</div>


  </body>
</html>